.header-site__padding{
    padding-top: 150px;
    padding-bottom: 150px;

}


textarea{
	height: 100px;
	width: 100%;
}

#inputNome,#inputMail,#inputJob,#inpEst,#inputCel,#inputTel,#msg{
	background-color: transparent;
	color:white;
}